* {
    box-sizing: border-box;
}

img {
    width:275px;
    padding: 40px
    background-color: darkcyan;
    margin:175px;
    height:175px;
    border-top-style: dotted;
    border-bottom-style: dotted;
    border-left-style: solid;
    border-right-style: solid;
    border-color:#00ced1;
    border-radius: 30px;
    border-width: 10px;
}

header {
    text-align: center;
    color; white;
    border: 40px skyblue groove;
}

body{
    background-color :mediumblue;
}
footer{
    background-color: darkslantgray;
    text-align: center;
    font-size: medium;
    color: white;
    padding: 40px;
    border: white solid 5px;
}